@model IEnumerable<WineRatingApp.Models.WineRating>

@{
    ViewBag.Title = "Oversikt vurderinger";
}

<h2>Oversikt vurderinger av vin</h2>

<p>
    @Html.ActionLink("Lag ny", "Create")
    </p><p>
    @Html.ActionLink("Liste over samlet vurdering per vin", "ScoreDetails")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JudgeId)
        </th>
        @if (User.IsInRole("Administrator"))
        {
        <th>
            @Html.DisplayNameFor(model => model.WineId)
        </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Visuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taste)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JudgeId)
        </td>
        @if (User.IsInRole("Administraor"))
        {
        <td>
            @Html.DisplayFor(modelItem => item.WineId)
        </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Visuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taste)
        </td>
        <td>
            @Html.ActionLink("Endre", "Edit", new { id=item.WineRatingId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.WineRatingId }) |
            @Html.ActionLink("Slett", "Delete", new { id=item.WineRatingId })
        </td>
    </tr>
}

</table>
