@model IEnumerable<WineRatingApp.Models.WineRating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Score Details", "ScoreDetails")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JudgeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taste)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JudgeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taste)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WineRatingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WineRatingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WineRatingId })
        </td>
    </tr>
}

</table>
