@model WineRatingApp.Models.WineRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WineRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JudgeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JudgeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taste)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WineRatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
